body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

/* Link Styling */

a:link,
a:visited {
  color: #e5e7eb;
  text-decoration: none;
}

a:hover {
  color: #f9faf8;
}

/* Button Styling */

.button {
  background: #3882f6;
  color: #f9faf8;
  border-radius: 10px;
  padding: 6px 16px;
  margin: 10px 0 10px 0;
  width: 100px
}

.button:hover {
  background: #3271d6;
}

.hero.button {
  border: none;
}

.footer.button {
  border: 2px solid #f9faf8;
}

/* 'Box' styling: The 'background' for each section of the page. */

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.header.box {
  background: #1f2937;
  color: #f9faf8;
  padding: 10px;
  flex-flow: row wrap;
}

.hero.box {
  background: #1f2937;
  color: #f9faf8;
  padding: 48px 0;
  flex-flow: row wrap;
}

.content.box {
  flex-direction: column;
}

.quote.box {
  background: #e5e7eb;
  padding: 64px 0;
}

.footer.box {
  padding: 72px 0px;
}

/* 'Frame' styling: Provides more detailed placement of elements within the 'box' on the page */

.frame {
  display: flex;
  width: 80%;
  max-width: 800px;
}

.header.frame {
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.hero.frame {
  flex-wrap: wrap;
  align-items: center;
}

.content.frame {
  color: #1F2937;
  font-size: 36px;
  font-weight: 900;
  justify-content: center;
  padding: 32px 0;
}

.illustrations.frame {
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 64px;
}

.quote.frame {
  flex-flow: column wrap;
}

.footer.frame {
  background: #3882F6;
  color: #f9faf8;
  border-radius: 5px;
  padding: 24px 56px;
  justify-content: space-between;
  align-items: center;
}

/* 'Header' Section Details */

.header.logo {
  font-size: 24px;
  font-weight: 700;
}

.header.links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #e5e7eb;
  gap: 24px;
}

/* 'Hero' Section Details */

.hero.left {
  max-width: 375px;
  margin-right: auto;
}

.hero.heading {
  font-size: 48px;
  font-weight: 900;
}

.hero.text {
  font-size: 18px;
  font-weight: 400;
  color: #e5e7eb;
  max-width: 350px;
}

/* 'Content' Section Details */

.image.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}

.image.container img {
  border: 2px solid #3882F6;
  border-radius: 10px;
}

/* 'Quote' Section Details */

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2937;
}

.quote.attribution{
  align-self: end;
  font-weight: 800;
  font-size: 24px;
}

/* 'Footer' Section Details */

.footer.heading {
  font-size: 22px;
  font-weight: 800;
}

.footer.left,
.footer.right {
  margin: 16px;
}