.page {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.header.box {
  /* display: flex; */
  background: #1f2937;
  color: #f9faf8;
  /* box-sizing: border-box; */
  /* width: 100%; */
  /* justify-content: center; */
  padding: 10px;
  /* align-items: center; */
  /* flex-wrap: wrap; */
  flex-flow: row wrap;
  border: 2px solid red;
}

.heroHeading {
  font-size: 48px;
  font-weight: 900;
  padding: 4px 0;
}

.hero.text {
  font-size: 18px;
  color: #e5e7eb;
}

.heroButton {
  background: #3882f6;
  color: #f9faf8;
  border-radius: 10px;
  border: none;
  padding: 6px 16px;
  margin: 10px 0 10px 0;
  width: 100px
}

.heroButton:hover {
  background: #3271d6;
}

a:link,
a:visited {
  color: #e5e7eb;
  text-decoration: none;
}

.headerContent {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  max-width: 800px;
  justify-content: space-between;
  align-items: center;
}

.headerLogo {
  font-size: 24px;
  font-weight: 700;
}

.headerLinks {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #e5e7eb;
  gap: 24px;
}

.hero.box {
  /* display: flex; */
  background: #1f2937;
  color: #f9faf8;
  /* box-sizing: border-box; */
  width: 100%;
  /* justify-content: center; */
  padding: 48px 0;
  /* align-items: center; */
  flex-wrap: wrap;
}

.heroContent {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  max-width: 800px;
  justify-content: space-between;
  align-items: center;
}

.heroLeft {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 400px;
}

.contentBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentHeading {
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  padding: 32px 0;
  color: #1F2937;
}

.illustrations {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  width: 70%;
  max-width: 800px;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 64px;
}

.imageBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 175px;
  padding: 8px;
}

.image {
  border: 2px solid #3882F6;
  border-radius: 10px;
}

.infoText {
  font-size: 18px;
  color: #1F2937;
  padding: 8px 0;
}

.quoteBox {
  display: flex;
  background: #e5e7eb;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 64px 0;
}

.quoteContent {
  display: flex;
  flex-flow: column wrap;
  width: 80%;
  max-width: 800px;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2937;
}

.quoter {
  align-self: end;
  max-width: 800px;
  font-weight: 800;
  font-size: 24px;
}

.footerBox {
  display: flex;
  padding: 72px 0px;
  justify-content: center;
}

.footerContent {
  display: flex;
  background: #3882F6;
  color: #f9faf8;
  border-radius: 5px;
  padding: 24px 56px;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 800px;
  width: 60%;
  align-items: center;
}

.footerHeading {
  font-size: 18px;
  font-weight: 800;
}

.footerLeft,
.footerRight {
  margin: 16px;
}

.footerButton {
  border: 2px solid #f9faf8;
  align-self: center;
  background: #3882f6;
  color: #f9faf8;
  border-radius: 10px;
  padding: 6px 16px;
  width: 100px
}

.footerButton:hover {
  background: #3271d6;
}